.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    opacity: 0;
  }

  #tooltip {
    font-size: 12px;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    pointer-events: none;
}